.row{
    margin-left: 5px;
    color: azure;
}
.poster{
    display: flex;
     padding: 10px;
     overflow-x: scroll;
     overflow-y: hidden;
}
.post{
    cursor: pointer;
    max-height: 250px;
    margin-right: 7px;
}
.poster::-webkit-scrollbar{
    display: none;
}

.smallpost {
    cursor: pointer;
    max-height: 150px ;
    margin-right: 7px;
    
}

.post:hover{
    transform: scale(1.3);
}
.smallpost:hover{
    transform: scale(1.3);
}

